ansible-devel.log
.DS_Store
**/.hg/cache/*
.idea
*.iml
*.iso
packer/images
packer/iso
packer/packer_cache
__pycache__/
*.pyc
.pytest_cache
pytestdebug.log
*.retry
takelage.yml
.vagrant
vault-password-file
*.vdi
