---
- name: (main) set default
  set_fact:
    takel_systemd_handler_services_list: []

- name: (main) include services tasks
  import_tasks: services.yml
  tags:
    - takel
    - takel_systemd
    - takel_systemd_services

- name: (main) include timer tasks
  import_tasks: timer.yml
  tags:
    - takel
    - takel_systemd
    - takel_systemd_timer

- name: (main) include env tasks
  import_tasks: env.yml
  tags:
    - takel
    - takel_systemd
    - takel_systemd_env
