---
takel_etherpad_deb_install_packages:
  - abiword
  - build-essential
  - curl
  - dumb-init
  - gzip
  - git
  - jq
  - libssl-dev
  - moreutils
  - nodejs
  - npm
  - pkg-config
  - pwgen
  - python3-minimal
  - tidy

takel_etherpad_version_file: /etc/takelpad_version
takel_etherpad_user: etherpad

takel_etherpad_home: /var/opt/etherpad
takel_etherpad_bin: "{{ takel_etherpad_home }}/bin"
takel_etherpad_lib: "{{ takel_etherpad_home }}/lib"
takel_etherpad_run: "{{ takel_etherpad_lib }}/src/bin/fastRun.sh"
takel_etherpad_shell: /bin/bash
takel_etherpad_repo: https://github.com/ether/etherpad-lite.git
takel_etherpad_repo_version: 1.9.1

takel_etherpad_port: 9001

takel_etherpad_mysql_host: localhost
takel_etherpad_mysql_user: etherpad
takel_etherpad_mysql_password: REPLACE_WITH_DATABASE_PASSWORD
takel_etherpad_mysql_database: etherpad
takel_etherpad_mysql_charset: utf8mb4

takel_etherpad_systemd_service_list:
  - name: etherpad
    descripton: an etherpad lite server
    type: exec
    run_after:
      - network-online.target
    requires:
      - mysql.service
    wanted_by: multi-user.target
    user: "{{ takel_etherpad_user }}"
    group: "{{ takel_etherpad_user }}"
    working_directory: "{{ takel_etherpad_lib }}"
    exec_start: >-
       {{ takel_etherpad_bin }}/etherpad-admin-password-dice &&
       {{ takel_etherpad_run }}
    exec_stop: >-
      {{ takel_etherpad_bin }}/etherpad-admin-password-dice &&
      /usr/bin/pkill -f 'node
      {{ takel_etherpad_lib }}/node_modules/ep_etherpad-lite/node/server.js'"
    restart: on-failure
    StartLimitIntervalSec: 10
    RestartSec: 30
    StartLimitBurst: 3
